@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data;
@model BranchModel;

<form method="post" asp-area="Branch" asp-controller="Branch" asp-action="AddEditMethodForBranch">
    <table>
        <tr>
            <td>
                Branch Name
            </td>
            <td>:</td>
            <td>
                <input type="text" value="@Model.BranchName" asp-for="BranchName" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Branch Code
            </td>
            <td>:</td>
            <td>
                <input type="text" value="@Model.BranchCode" asp-for="BranchCode" type="text" />
            </td>
        </tr>

        <tr>

            <td>
                <input type="hidden" name="BranchID" value="@Model.BranchID" />
                <input type="submit" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>

