@using System.Data
@model CountryModel

<div>
    <form method="post" asp-controller="Home" asp-action="AddEditMethod">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>Country Name</label>
            <input type="text" value="@Model.CountryName" asp-for="CountryName" />
            <span asp-validation-for="CountryName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Country Code</label>
            <input type="text" value="@Model.CountryCode" asp-for="CountryCode" />
            <span asp-validation-for="CountryCode" class="text-danger"></span>
        </div>
        <input type="hidden" name="CountryID" value="@Model.CountryId" />
        <input type="submit" value="Save" class="submit" />
    </form>


</div>
