@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model CountryModel

<form method="post" asp-area="LOC_Country" asp-controller="Country" asp-action="AddEditMethod">
    <table>
        <tr>
            <td>
                Country Name
            </td>
            <td>:</td>
            <td>
                <input type="text" value="@Model.CountryName" asp-for="CountryName" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                Country Code
            </td>
            <td>:</td>
            <td>
                <input type="text" value="@Model.CountryCode" asp-for="CountryCode" type="text" />
            </td>
        </tr>

        <tr>
            
            <td>
                <input type="hidden" name="CountryID" value="@Model.CountryID" />
                <input type="submit" class="btn btn-primary" /></td>
        </tr>
    </table>
</form>

